body{
  background-color: beige;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.container {
    display:inline-block;
    margin-left: 600px;
    margin-top: 250px;
    row-gap: 10px;
    border-style:solid;
    border-color: aqua;
    align-content: space-between;
    font-weight: bolder;
    background-color: skyblue;
  }
  
  .container h1{
    align-content: center;
    align-items: center;
    margin-left: 10px;
    
  }
  form{
    margin-left: 10px;
    margin-right: 10px;
    justify-items: left;
    padding-left: 10px;
    padding-right: 10px;
    align-items: left;
    flex-direction: column;
  }

  .field label{
    padding-right: 10px;
    padding-left: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }

  .fbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    margin-left: 100px;
    justify-content: center;
    font-size: larger;
    height: 30px;
  }
 
